body {
  background-color: #000000;
  margin: 0;
}




.list {
  font-family: Helvetica;
}

.clockdate-wrapper {
  padding-top: 5px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-top: 1%;
}
#clock {

  font-family: sans-serif;
  font-size: 15.5rem;
  text-shadow: 0px 0px 15px #fff;
  color: #000000;
}
#clock span {
  color: #ffffff;
  text-shadow: 0px 0px 1px #333;
  font-size: 30px;
  position: relative;
  top: 10px;
  left: -10px;
}
#date {
  letter-spacing: 10px;
  font-size: 4rem;
  font-family: arial, sans-serif;
  padding: 50px;
  text-shadow: 0px 0px 4px #fff;
  color: #000000;
  font-family: "Kanit", sans-serif;
}

#ww_b720c27163c5d {
  padding: 1px;
  position: relative;
  top: 100px;
  left: 750px;
}

.tempcent {
  text-align: center;
  justify-content: center;
  margin: 5rem 0;
}

@media (max-width: 800px) {
  #date {
    font-size: 2.5rem;
  }
}

@media (max-width: 780px) {
  #clock {
    font-size: 6.5rem;
  }
}

/* Alarma */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3vh;
  visibility: hidden; /* Ahora estará oculto por defecto */
  margin-top: 20px;
}

.scale-up-hor-center {
	-webkit-animation: scale-up-hor-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-hor-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
@keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}



/* ... tu código CSS existente ... */



#verAlarma,
#limpiarAlarma,
#verAlarmas {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent; /* Fondo blanco */
  color: #d3cdcda6; /* Texto azul */
  border: none;
  margin: 0;
  font-family: "Kanit", sans-serif;
}

#verAlarma:hover,
#limpiarAlarma:hover,
#verAlarmas:hover {
  color: rgb(204, 204, 203);
}


#verAlarma,
#verAlarmas {
  margin-right: 25px; /* Espacio entre botones */
}

#limpiarAlarma {
  margin-bottom: 11px; /* Espacio en la parte inferior */
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #0f0f0f;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #ffffff;
  max-width: 400px;
  text-align: center;
  position: relative;
  font-size: 13px;
  color: #ffffff;
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-shadow: 0px 0px 4px #fff;
  cursor: pointer;
}

#configurarAlarma,
#limpiarAlarma {
  margin-top: 10px;
}

/* Alarma configurada modal */

.modalConfigurada {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 100px 0 100px 0;
  text-align: center;
}

.modal-content-configurada {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #faf7f7;
  width: 20%;
  font-family: "Kanit", sans-serif;

  text-shadow: 0px 0px 4px #fff;
}

.close-configurada {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-configurada:hover,
.close-configurada:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close-configurada {
  display: none;
}

/* Theme section */

#temasBtn{
  position: fixed;
  top: 15px;
  right: 15px;
  background-color: transparent;
  color: white;
  border-radius: 15%;
  z-index: 2;
}

#alarmasBtn {
  position: fixed;
  top: 15px;
  right: 125px;
  background-color: transparent;
  color: white;
  border-radius: 15%;
  z-index: 2;
}

#openModalTodo {
  position: fixed;
  top: 15px;
  right: 235px;
  background-color: transparent;
  color: white;
  border-radius: 15%;
  z-index: 2;
}

#alarmasBtn:hover, #temasBtn:hover, #openModalTodo:hover {
  color: rgb(174, 174, 179);
}



/* Hover Button */

.glow-on-hover {
  width: 100px;
  height: 30px;
  border: none;
  outline: none;
  color: #fff;
  background: transparent;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin-left: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}






#temasContainer {
  position: absolute;
  top: 200px; /* Ajusta la posición vertical según tus necesidades */
  right: 20px; /* Ajusta la posición horizontal según tus necesidades */
  display: none;
  background-color: rgba(77, 66, 66, 0.103);
  width: 130px; /* Ajusta el ancho según tus necesidades */
  height: 51vh;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: all 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940); /* Añade una transición */
}


.tema {
  width: 100%; /* Cambiado a 100% */
  height: auto;
}

.temaItem {
  margin: 0; /* Añadido para eliminar el margen */
}

.leyenda {
  color: rgba(6, 247, 206, 0.918);
  margin: 0; /* Añadido para eliminar el margen */
  font-family: "Kanit", sans-serif;
  text-align: center;
}


/* Animacion Left */

.slide-left {
  -webkit-animation: slide-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
  }
}


/* Animacion Right */

.flip-scale-up-hor {
	-webkit-animation: flip-scale-up-hor 0.3s linear both;
	        animation: flip-scale-up-hor 0.3s linear both;
}

@-webkit-keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
            transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(1.2) rotateX(-45deg);
            transform: scale(1.2) rotateX(-45deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-90deg);
            transform: scale(1) rotateX(-90deg);
  }
}
@keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
            transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(1.2) rotateX(-45deg);
            transform: scale(1.2) rotateX(-45deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-90deg);
            transform: scale(1) rotateX(-90deg);
  }
}



/* Todo List */
.modal-todo-list {
  display: none;
  position: absolute; /* Cambiado de fixed a absolute */
  top: 45%; /* Alinea la parte superior del modal al centro del contenedor padre */
  left: 50%;
  transform: translate(-50%, -50%); /* Centra el modal en la pantalla */
  width: 90%; /* Ajusta el ancho al 90% del contenedor padre */
  max-width: 400px; /* Establece un ancho máximo para el modal */
  height: auto;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}


.todolist {
  background-color: rgb(7, 62, 114);
  width: 400px;
  margin: 150px auto 0 auto;
  border-radius: 10px;
}

.modal-listElement {
  text-align: center;
}

.title {
  text-align: center;
  color: #ffffff;
  font-family: "Kanit", sans-serif;
}

.subtitle {
  margin-bottom: 20px;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
}

.box {
  font-size: 12px;
  border-radius: 3px;
  padding: 15px;
  margin: 15px 0;
  background-color: #ffffff;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.25);
  background-color: rgb(10, 10, 10);
  border-radius: 10px;
  max-height: 200px; /* Establece la altura máxima del contenedor */
  overflow-y: auto; /* Agrega una barra de desplazamiento si es necesario */
}

.addItem {
  display: flex;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.list {
  list-style-type: none;

  &--done {
    color: grey;
    text-decoration: line-through;
  }
}

.listElement {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  width: 100%;
  border: none;
  outline: none;
  border-top: 1px solid lightgrey;
  font-family: "Kanit", sans-serif;
  border-bottom: 1px solid transparent;
  padding: 5px 0;

  &.error {
    border-bottom-color: red;
  }
}

.listElement:first-of-type {
  border-top-color: transparent;
}

.button-todo {
  border: 0;
  outline: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 10px;
  font-weight: bold;
  background-color: #4254f5;
  color: #ffffff;
  text-align: center;

  &:hover {
    cursor: pointer;
  }

  &.edit, &.delete {
    background-color: #ffc107;
    color: #333;

    &:hover {
      background-color: #e0a800;
    }
  }
}

.edit, .delete, .todo-done{
  width: 40px;
  font-size: 11px;
}


/*-----------------------------------------------------------------------------------*/
/*  Footer
/*-----------------------------------------------------------------------------------*/

#footer {
  text-align: center;
  width: 100%;
  margin-top: 120px; /* Cambiado de margin-bottom a margin-top */
  color: #ffffff;
  font-family: "Kanit", sans-serif;
  opacity: 0.8;
}

#footer p {
  font-size: 9px;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin-top: 0;
  text-transform: uppercase;
}

.credits {
  font-size: 12px;
}
.fa-heart {
  color: rgb(250, 88, 76);
}

.legox {
  color: #b8a07e;
}
.legox:hover {
  color: red;
}
